html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.idea-users-index{
	display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(45deg, #0057B6, #5960EA);
}

#fileter_page_header{
    font-size: 18pt;
    color: white;
}

.idea-users-index #p0 #w0 table{
   margin: 0 auto;
    width: 50em;
    margin-top: 15px;
}

#table_result{
    margin-top: 15px;
    color: white;
}

.idea-users-index #p0 #w0 table tr th a{
    color:white;
}

.idea-users-index #p0 #w0 table tr th{
    color: white;
    text-align: center;
}

.idea-users-index #p0 #w0 table tr td{
    color:white;
}

.table-striped > tbody > tr:nth-of-type(odd){
    background: linear-gradient(45deg, #0057B6, #5960EA);
}

.table-striped > tbody > tr:nth-of-type(even){
    background: linear-gradient(45deg, #0057B6, #5960EA);
}

.site-login{
    display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(45deg, #0057B6, #5960EA);
}

#auth_page_header{
    color: white;
    font-size: 18pt;
}

#auth_page_mess{
    color: white;
    font-size: 16pt;
}

label.control-label.col-sm-3{
    width: 100vw;
    text-align: center;
    margin-left: 12px;
}

.auth_input{
    border-radius: 15px;
    border: none;
    height: 25px;
    margin-top: 7px;
    padding-left: 10px;
}

.auth_btn{
    border: none;
    background-color: transparent;
    color: white;
    border: solid 3px white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 15px;
    font-size: 17pt;
}

.idea_btn{
    border: none;
    background-color: transparent;
    color: white;
    border: solid 3px white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 15px;
    font-size: 12pt;
}

.form-group .field-loginform-username .required .has-error label{
    color: white;
}

.new_color label{
    color: white;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
    color: yellow;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label{
    color: lightsalmon;
}

#shop_page{
    display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(45deg, #0057B6, #5960EA);
}

#st_page{
    display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(45deg, #0057B6, #5960EA);
}

#shop_page_header{
    color: white;
    font-size: 20pt;
}

#history_buy{
    color: white;
    text-decoration: underline;
    font-size: 16pt;
    margin-bottom: 15px;
}

#shop_product_img_style{
    border: solid 3px white;
    border-radius: 20px;
    margin-right: 10px;
}

#product{
    margin-top: 15px;
    color: white;
    display: flex;
    flex-direction: column;
}

#low_coin{
    color: yellow;
}

#by_product{
    color: orange;
}

#product_img{
    color: white;
}

#product_sort{
    color: white;
    line-height: 2em;
}

#product_sort img{
    margin-bottom: 15px;
}

#shop_history_by{
    color: white;
    font-size: 18pt;
}

#my_ideas{
    display: block;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(45deg, #0057B6, #5960EA);
}

#idea_header{
    color: white;
    font-size: 20pt;
}

#them_disign{
    color: white;
    font-size: 16pt;
}

#more_inf_ideas{
    color: white;
    font-size: 18pt;
}

#more_inf_txt{
    color: white;
    font-size: 16pt;
}

#new_idea_header{
    font-size: 18pt;
    color: white;
}

.control-label{
    color:white;
    font-size: 16pt;
}

.form-control{
    width: 450px;
    margin: 0 auto;
}

#favorite_theme_header{
    font-size: 18pt;
    color:white;
}

#theme_favorite_list{
    font-size: 16pt;
    color:white;
}

#game_process{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
    text-align: center;
    padding-bottom: 20em;
}

#info_bar{
    height: 50px;
    width: 650px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 3px white;
    padding-top: 12px;
    color: white;
    border-radius: 30px;
}

#progress_img{
    width: 30px;
    margin-right: 10px;
}

#level_img{
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

#coin_img{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#bank_img{
    width: 500px;
    margin-top: 30px;
    border: solid 3px white;
    border-radius: 20px;
}
td>a{
    color: white;
}